{% extends "analytics/base.html" %}


{% block app_content %}
<h1>Stats page for: {{name}}</h1>
<div id="table">
<table>
    <th><b>Statistic</b></th>
    <th><b>Value</b></th>

    <tr>
        <td>All-time users</td>
        <td id="users">Please Wait While Your Analytics Data Is Retrieved</td>
    </tr>
    <tr>
        <td>All-time Sessions</td>
        <td id="sessions">Please Wait While Your Analytics Data Is Retrieved</td>
    </tr>
    <tr>
        <td>Avg Session Time (mins)</td>
        <td id="averageTime">Please Wait While Your Analytics Data Is Retrieved</td>
    </tr>

</table>

<div id="userTimeChart">Here is the div where the user v time plot is going to get put</div>

</div>
{% endblock %}