{% extends "analytics/base.html" %}
{% load staticfiles %}

{% block app_content %}
<div style="overflow-y: auto; width: 65%">
  <h1>Tethys Portal Analytics Viewer App</h1>
  <div style="float: left; padding: 10px;">
    <div>
      <h2>Web-Analytics</h2>
      <div style="width: 100%; padding: 5px;">
        <div style="width: 65%; float: left; padding: 5px;">
          <p>Internet analytics refers to the process of collecting information about how a
            website is used and user demographics. Analytics information is either collected server-side, where the
            website is hosted, or using web-services. Web-based analytics uses an asynchronous script in the header of a
            page which sends information about the browsing session to another website. That website processes the
            information and makes it available to the website's admins.</p>
          <p>Tethys is configured to collect web-analytics data using web-based analytics services supported by
            Django-Analytical where Google Analytics is the recommended option. The Tethys Portal Analytics Viewer App
            is compatible with Tethys 3+ portals and requires the portal be configured with Google Analytics. For
            information about these services, refer to:</p>
          <li><b>Tethys:</b> <a href="http://docs.tethysplatform.org/en/stable/tethys_portal.html#" target="_blank">http://docs.tethysplatform.org/en/stable/tethys_portal.html</a>
          <li><b>Google Analytics:</b> <a href="https://analytics.google.com/"
                                          target="_blank">https://analytics.google.com/</a>
          <li><b>Django-Analytical:</b> <a href="https://github.com/jazzband/django-analytical" target="_blank">https://github.com/jazzband/django-analytical</a>
            <p>This application was built by Riley Hales at the Brigham Young University Hydroinformatics Lab, 2019.
        </div>
        <div style="float: left; width: 35%; height: 100%; padding: 5px;">
          <img src="{% static 'analytics/images/webanalytics.png' %}" style="width: 100%;">
        </div>
      </div>
    </div>
    <br>
    <div style="width: 100%;">
      <h2>Configure Google Analytics and This App</h2>
      <p>This app requires that your portal already by configured by the portal admins to record analytics data with
        Google Analytics. For instructions on enabling tracking on a portal, refer to the <a href="">Tethys Portal
          Web-Analytics Documentation page</a>.</p>
      <ol>
        <li>Log in to <a target="_blank" href="console.developers.google.com">console.developers.google.com</a> with the
          Google Analytics account that owns the View-ID used on this portal. You <strong><i>must</i></strong> use the
          same account.
        </li>
        <li>Go to "APIs and Services" then find the Credentials tab</li>
        <li>Create new credentials -> Service Account Key -> New service account
          <ul>
            <li>Name the service account getmetrics</li>
            <li>Role: Project Owner</li>
            <li>Copy the service account ID email address listed.</li>
            <li>Get an API key. Choose JSON for your key type. <b>DO NOT LOSE OR SHARE THIS KEY</b></li>
            <li>Make a copy of the ket and put it in the analytics app's 'app workspace' folder. You
              <strong><i>must</i></strong> name i<strong><i>only</i></strong>t api_info.json
            </li>
          </ul>
        </li>
        <li>Return to the IAM & Admin section and go to the IAM tab</li>
        <li>Add a new member.
          <ul>
            <li>Use the email address from the previous steps. It should prompt you to use that as you begin
              typing
            </li>
            <li>Choose Project Owner as the role.</li>
            <li>Save</li>
          </ul>
        <li>Go to <a target="_blank" href="analytics.google.com">analytics.google.com</a></li>
        <li>In admin settings, find the User Management section for the <strong><i>account</i></strong> (not property or
          view).
        </li>
        <li>Add a new user with the email address you got from the previous steps. Grant Read & Analyze permissions
          <strong><i>only</i></strong>. Wait
          about 5 minutes before making requests through the app while these changes synchronize across Google's
          services.
        </li>
        <!--      <li>Create A New Property. Set the appropriate website name, URL, content category, time zone, etc. When you finish, you will get a "tracking-ID" in the format "UA-123456789-1". The 9 digits in the center are an identifier for your account and the "-1" corresponds to the number of the property you're tracking. Save this number for configuring your portal.</li>-->
        <!--      <li>In your tethys portal, navigate to the file "../tethys/src/tethys_portal/settings.py". In that file, you will find a line about half way down that says GOOGLE_ANALYTICS_JS_PROPERTY_ID = ''. Inside the single quotes, add your Tracking ID from the previous step. Save.'</li>-->
      </ol>
      <h3>Security Warnings</h3>
      <p>If you modify this app and use GitHub to track your changes, you need to exclude the Google Analytics API
        key from your commits for security reasons. If you forget, you should immediately return to <a
                target="_blank" href="console.developers.google.com">console.developers.google.com</a> and
        deauthorize
        that key. Follow the instructions below to set up a new analytics reporting service account
        and generate a new key. If you followed these instructions, the key should only be valid for queries,
        not
        modifications of your Google account so your account will remain safe but you will leak personal
        information.</p>
      <p>By using this app and creating Google Analytics accounts, you will agree to the responsible use of the
        information gathered about your users. You should follow any applicable best practices to ensure this
        information is not made publicly available or misused.</p>
    </div>
  </div>
</div>
{% endblock %}
